<div class="full-page">
    <as-split direction="vertical">
        <as-split-area [size]="50" [minSize]="10">
            <as-split direction="horizontal">
                <as-split-area [size]="40" class="left">
                </as-split-area>
                <as-split-area [size]="60" class="right">
                </as-split-area>
            </as-split>
        </as-split-area>
        <as-split-area [size]="50" [minSize]="10">
            <as-split direction="horizontal">
                <as-split-area [size]="60" class="left">
                </as-split-area>
                <as-split-area [size]="40" class="right">
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>