@use 'angular-split/theme'

.full-page
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: var(--mat-sys-surface)
  padding: 8px

.left
  background-color: var(--mat-sys-on-surface)
  border-radius: 16px

.right
  background-color: var(--mat-sys-on-surface)
  border-radius: 16px