.talk-title
  font-variant: small-caps
  //text-decoration: underline

.slide-title
  margin-top: 25px
  font-variant: small-caps
  text-decoration: underline

.large-image
  width: 600px
  height: 480px

.grid-2x2
  display: grid
  grid-template-columns: min-content 375px 375px
  grid-template-rows: min-content 301px 301px
  column-gap: 1px
  row-gap: 1px
  justify-items: center
  align-items: center

//.grid-cell
//  border-right: 1px solid black
//  border-bottom: 1px solid black

.cell
  width: 375px
  height: 301px
  border: black 1px solid
  margin: 0 0 0 0

.math-heading
  font-variant: small-caps
  text-decoration: underline

.display-math
  align-self: center

.math-block
  display: flex
  flex-direction: column
  justify-items: flex-start
  text-align: left

  *
    margin-top: 10px