.coordinate-corner
  position: absolute
  bottom: 0
  right: 0
  background-color: light-dark(black, white)
  padding: 4px 0 0 4px
  border-radius: 12px 0 0 0

.hidden
  display: none

.coordinate-container
  width: 400px
  height: 400px
  overflow: hidden
  border-radius: 8px 0 0 0