@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
          color: mat.$blue-palette,
          typography: Roboto,
          density: 0
  ));
}

body {
  margin: 0;
  padding: 0;
}

body {
  //background: var(--mat-sys-primary-container);
  //background: #f0f1eb;
  color: var(--mat-sys-on-primary-container);
  font: var(--mat-sys-body-large);
}

.reveal mjx-container[display="true"],
.reveal .MathJax_Display {
  margin: 0.5em 0 !important;
}
