<div class="render-container">
    <ng-container #container></ng-container>
</div>

<header class="gallery-header">
    <h1 class="shimmer-text">Interactive Demos</h1>
    <p class="subtitle">A collection of mathematical experiments.</p>
</header>

<div class="gallery-grid" [@listAnimation]="demosCount">
    <div *ngFor="let item of demos"
         class="demo-card"
         appMagneticCard
         [routerLink]="item.path"
         [class.dark-mode-active]="isDarkTheme$ | async">

        <div class="preview-container">

            <img *ngIf="item.lightPreview" [src]="item.lightPreview" class="preview-img light-img">
            <img *ngIf="item.darkPreview" [src]="item.darkPreview" class="preview-img dark-img">

            <div class="title-overlay">
                <h3>{{ item.title }}</h3>
                <div class="decorative-line"></div>
            </div>

            <div class="loader-overlay" *ngIf="!item.lightPreview">
                <div class="minimal-spinner"></div>
            </div>
        </div>
    </div>
</div>

<header class="gallery-header">
    <h1 class="shimmer-text">Talks</h1>
    <p class="subtitle">Slide decks with embedded interactive content.</p>
</header>

<div class="gallery-grid" [@listAnimation]="talksCount">
    <div *ngFor="let item of talks"
         class="demo-card"
         appMagneticCard
         [routerLink]="item.path"
         [class.dark-mode-active]="isDarkTheme$ | async">

        <div class="preview-container">

            <!--            <img *ngIf="item.lightPreview" [src]="item.lightPreview" class="preview-img light-img">-->
            <!--            <img *ngIf="item.darkPreview" [src]="item.darkPreview" class="preview-img dark-img">-->

            <div class="centered">
                <h3>{{ item.title }}</h3>
            </div>

            <!--            <div class="loader-overlay" *ngIf="!item.lightPreview">-->
            <!--                <div class="minimal-spinner"></div>-->
            <!--            </div>-->
        </div>
    </div>
</div>