<div class="render-container">
    <ng-container #container></ng-container>
</div>

<!--<header class="gallery-header">-->
<!--    <h1>Interactive Demos</h1>-->
<!--    <p class="subtitle">A collection of mathematical experiments.</p>-->
<!--</header>-->

<!-- Demos, Talks, About Me -->

<header class="gallery-header">
    <h1>Lael Edwards-Costa</h1>
    <div class="nav-buttons">
        @for (page of pages; track page) {
            @if (selectedPage === page) {
                <button mat-flat-button
                        class="nav-button"
                        (click)="selectPage(page)">
                    {{ page }}
                </button>
            } @else {
                <button mat-raised-button
                        class="nav-button"
                        (click)="selectPage(page)">
                    {{ page }}
                </button>
            }
        }
    </div>
</header>

@switch (selectedPage) {
    @case ("Demos") {
        <div class="gallery-grid" [@listAnimation]="demosCount + otherDemosCount">
            @for (item of demos; track item.path) {
                <mat-card class="demo-card"
                          appMagneticCard
                          [routerLink]="item.path">

                    <div class="preview-container">
                        @if (item.lightPreview) {
                            <img [src]="item.lightPreview" class="preview-img light-img">
                        }
                        @if (item.darkPreview) {
                            <img [src]="item.darkPreview" class="preview-img dark-img">
                        }
                        @if (!item.lightPreview && !item.darkPreview) {
                            <mat-spinner></mat-spinner>
                        }
                        <div class="title-overlay">
                            <mat-card-title>{{ item.title }}</mat-card-title>
                        </div>
                    </div>
                </mat-card>
            }
            @for (item of otherDemos; track item.path) {
                <mat-card class="demo-card"
                          appMagneticCard
                          [routerLink]="item.path">
                    <div class="preview-container">
                        <div class="title-overlay">
                            <mat-card-title>{{ item.title }}</mat-card-title>
                        </div>
                    </div>
                </mat-card>
            }
        </div>
    }
    @case ("Talks") {
        <div class="gallery-grid" [@listAnimation]="talksCount">
            @for (item of talks; track item.path) {
                <mat-card class="demo-card"
                          appMagneticCard
                          [routerLink]="item.path">
                    <div class="preview-container">
                        <mat-card-title>{{ item.title }}</mat-card-title>
                    </div>
                </mat-card>
            }
        </div>
    }
    @case ("About Me") {
        <div class="about-me-container">
            <div class="about-me">
                <section>
                    <h3>Overview</h3>
                    <p>I am a PhD student in Mathematics at The Pennsylvania State University in the USA, and my advisor
                        is Sergei Tabachnikov. My research interests include geometry, symplectic geometry, dynamics,
                        and physics.
                    </p>
                </section>
                <!--                <section>-->
                <!--                    <h3>Papers</h3>-->
                <!--                    <ul>-->
                <!--                        <li></li>-->
                <!--                    </ul>-->
                <!--                </section>-->
                <section>
                    <h3>Teaching</h3>
                    <p>At Penn State, I've taught the following courses:</p>
                    <ul>
                        <li><strong>MATH 140:</strong> Calculus with Analytic Geometry I</li>
                        <li><strong>MATH 230:</strong> Calculus and Vector Analysis</li>
                        <li><strong>MATH 231:</strong> Calculus of Several Variables</li>
                    </ul>
                </section>
                <section>
                    <h3>Contact</h3>
                    <p>I can be reached via <a href="mailto:lael.costa@psu.edu">email</a>.</p>
                </section>
            </div>
        </div>
    }
}